{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<title>REGISTRASI KLAS</title>
 <link rel="stylesheet" href="//bootswatch.com/united/bootstrap.min.css">
 <link rel="stylesheet" href="{% static 'users/css/style2.css' %}">
</head>
<body>
<div class="col-md-4 col-md-offset-4 form-login">
<div class="outter-form-login">
<div class="text-center logo-login">
<img  width="255" height="100" src="{% static 'users/cangkruan.jpg' %}"></img>
</div>
<form action="/users/register" method="post" class="inner-login">
<h3 class="text-center title-login">Registrasi</h3>
{% csrf_token %}
<div class="form-group">
<input type="text" class="form-control" name="nama" required id="id_nama" maxlength="100" size="20" placeholder="Nama" />
</div>
<div class="form-group">
<input type="email" class="form-control" name="email" required id="id_email" placeholder="Email"/>
</div>
<div class="form-group">
<input type="text" class="form-control" name="phone" required id="id_phone" maxlength="15" placeholder="No.Hp(+62)"/>
</div>
<div class="form-group">
<input type="text" class="form-control" name="pekerjaan" required id="id_pekerjaan" maxlength="100" placeholder="Pekerjaan"/>
</div>
<div class="form-group">
<input type="text" class="form-control" name="institusi" required id="id_institusi" maxlength="100" placeholder="Institusi" /><br>
</div>
<input type="submit" class="btn btn-block btn-custom-green" value="DAFTAR"/>
</form> 
</div>
<div id="footer">
<p>Aplikasi ini disponsori oleh :</p>
<img  height="45" width="55" src="{% static 'users/g4223-61.png' %}"></img>
<img  height="45" width="65" src="{% static 'users/apjii.jpg' %}"></img>
<img  height="45" width="65" src="{% static 'users/radnet.jpeg' %}"></img>
<img  height="45" width="45" src="{% static 'users/polije.png' %}"></img>
</div>
</div>
</body>
{% if is_registered %}
    <script>alert("You've successfully registered")</script>
{% else %}
{% endif %}
</html>
